<h1>What Does Food Wastage Mean?</h1>
<p></p>



<div class="autoplay">

    <div>
        <%= image_tag("compost.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("compost.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("compost.jpg", :class => "autoplay") %>
    </div>
    

</div>
