<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>



<div class="autoplay">

    <div>
        <%= image_tag("compost.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("homeless-man.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("ugly-veggies.png", :class => "autoplay") %>
    </div>


</div>
