<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<div id="map"></div>



<div>

<p>
Delivery Instructions: Please drop off at our location marked with the "Red Flag" - our warehouse is opposite OzHarvest in Alexandria.

</p>
</div>

</body>
</html>
