/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /**
  *** SIMPLE GRID
  *** (C) ZACH COLE 2016
  **/


 /* UNIVERSAL */

 html, body {
   height: 100%;
   width: 100%;
   font-family: "Lato";
   margin: 0 auto;
   padding: 0;

   font-size: 100%;
   background-color: lightslategray;
   text-align: center;

 }

 /* POSITIONING */

 .left {
   text-align: left;
 }
 .right {
   text-align: right;
 }
 .center {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }
 .justify {
   text-align: justify;
 }

 /* ==== GRID SYSTEM ==== */

 .container {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   min-height: 45%;
 }
 .row {
   position: relative;
   width: 100%;
 }
 .row [class^="col"] {
   float: left;
   margin: 0.5rem 2%;
   min-height: 0.125rem;
 }
 .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
   width: 96%;
 }
 .col-1-sm {
   width: 4.33%;
 }
 .col-2-sm {
   width: 12.66%;
 }
 .col-3-sm {
   width: 21%;
 }
 .col-4-sm {
   width: 29.33%;
 }
 .col-5-sm {
   width: 37.66%;
 }
 .col-6-sm {
   width: 46%;
 }
 .col-7-sm {
   width: 54.33%;
 }
 .col-8-sm {
   width: 62.66%;
 }
 .col-9-sm {
   width: 71%;
 }
 .col-10-sm {
   width: 79.33%;
 }
 .col-11-sm {
   width: 87.66%;
 }
 .col-12-sm {
   width: 96%;
 }
 .row::after {
   content: "";
   display: table;
   clear: both;
 }
 .hidden-sm {
   display: none;
 }
 @media only screen and (min-width: 33.75em) {
   /* 540px */
   .container {
     width: 80%;
   }
 }
 @media only screen and (min-width: 45em) {
   /* 720px */
   .col-1 {
     width: 4.33%;
   }
   .col-2 {
     width: 12.66%;
   }
   .col-3 {
     width: 21%;
   }
   .col-4 {
     width: 29.33%;
   }
   .col-5 {
     width: 37.66%;
   }
   .col-6 {
     width: 46%;
   }
   .col-7 {
     width: 54.33%;
   }
   .col-8 {
     width: 62.66%;
   }
   .col-9 {
     width: 71%;
   }
   .col-10 {
     width: 79.33%;
   }
   .col-11 {
     width: 87.66%;
   }
   .col-12 {
     width: 96%;
   }
   .hidden-sm {
     display: block;
   }
 }
 @media only screen and (min-width: 60em) {
   /* 960px */
   .container {
     width: 75%;
     max-width: 60rem;
   }
 }

 /* Custom CSS*/

 .supplier_logo {
   height: 30px;
 }
 label {
   margin-left: 50px;
   color: black;
   font-size: 14px;
   display: inline-block;
 }

body.pages.index {
   background-image: url("potato.jpg");
   background-size: cover;
}

.slick-slide {
margin: 0 auto;
  width: 400px;
  max-width: 75%;
text-align: center;
}


img{
height: 160px;
}

.case1 {

text-align: center;
max-width: 360px;
padding: 20px;
max-height: 300px;
margin: auto;
display: inline-block;
}

.case2{
   text-align: center;
}

.case3{
   width: 60px;
   background-color: #e3a797;
}
.case3a{
   width: 120px;
   background-color: #e3a797;
}

.case4{
   width: 250px;
   font-size: 12px;
   text-align: left;

}


input, textarea {
   border-radius: 6px;
   text-align: center;
   width: 300px;

}

span {
   text-align: center;
}

p, li {
   list-style-type: none;
}

a {
  color: #A5A5A5;
  padding: 30px;
  text-align: justify;
}
a:hover {
  color: #e3a797;
}
form.button_to, {
  text-align: center;
}

#map{

   margin: 0 auto;
   height: 50%;
   width: 50%;
}

#myChart {
   margin: 0 auto;
   background-color: white;
   height: 70% !important;
   width: 70% !important;
}
